:root {
  --font-color: black;
  --font-size: 1rem;
  --font-family: arial;

  --nav-menu-color: blue;
  --nav-menu-bgcolor: white;

  --nav-menu-active-color: white;
  --nav-menu-active-bgcolor: blue;
}