.Menu > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.Menu > ul > li {
  border-left: 0px;
  border-right: 1px solid black;
  margin: 0;
  padding: 0;
}

.Menu > ul > li:first-child {
  border-left: 1px solid black;
}

.Menu > ul > li > a {
  padding: 4px;
  display: block;
  text-decoration: none;
  color: var(--nav-menu-color);
  background-color: var(--nav-menu-bgcolor);
}

.Menu > ul > li > a:hover:not(.active) {
  text-decoration: underline;
}

.Menu > ul > li > a.active {
  color: var(--nav-menu-active-color);
  background-color: var(--nav-menu-active-bgcolor);
}

.Menu {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: lightgray;
}